---
title: 2025年を振り返る (エンジニア編)
date: 2026-01-17
tags:
  - 仕事
  - エンジニア
published: false
---

こんにちは。
もうあっという間に2026年になってしまいましたね。

今更ですが、2025年の活動を振り返っていこうと思います。

## ソフトウェアエンジニアとしての活動

2025年も、たくさんコードを書いてたくさん開発をしてきました。

### 仕事

### FlutterKaigi 2025

### 登壇

### 個人開発


## プライベート

### 引っ越し失敗....

本当にバカでびっくりなのですが、2025年は3回引っ越しました。。。


### カメラ買った

## まとめと2026年の展望
